<% unless car_list.empty? %>
  <h3>The cars</h3>
  <ul>
  <% for car in car_list %>
    <li>
		<%= car.model_name %>, <%= car.color %> from <%= car.made_in.year %>
		<%= link_to_remote "delete", :url => car_url(car), :method => :delete, :confirm => "Do you want to remove this car?", :update => 'car_list' %>
	</li>
  <% end %>
  </ul>
<% end %>